/* .home-page{
    height: 100svw;
} */

.montserrat-regular-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

.oleo-script-regular{
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.header{
   position: sticky;
   top: 3vh;
   display: flex;
   justify-content: center;
   /* left: 37vw;
   right: 37vw;
   top:.8vw; */
}

.flexbox{
    justify-content: space-between;
}

.btn{
    color: rgb(2, 90, 78);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: none;
}

.btn:hover{
    color: black;
}

.header > .nav > .nav-item > .active{
    background-color: rgba(255, 255, 255, 0.546);
    border-radius: 64px;
    color: rgb(2, 90, 78);
}

.topnav{
    /* background-color: rgba(255, 255, 255, 0.299); */
    border-radius: 64px;

}

.scrolled{
    background-color: rgba(255, 255, 255, 0.299);
}

.gradient-background {
    background: linear-gradient(300deg, rgb(233, 233, 212), #b3a87291, #96ecc691, #ffa8a892);
    background-size: 180% 180%;
    animation: gradient-animation 7s ease infinite;
  }
  
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.myImage{
    width: 30vw;
    border-radius: 40px;
}

h1{
    font-size: 8vw;
    /* font-family:"Oleo Script", system-ui; */
    color: rgb(2, 90, 78);
}

.second-heading{
    /* font-family: "Oleo Script", system-ui; */
    color: rgb(2, 90, 78);
    text-align: start;
}

p{
    font-family: "Montserrat", sans-serif; 
    font-weight: bold;
    color: rgb(76, 103, 99); 
}



a{
    margin-left: 30px;
    margin-right: 30px;
}
h4.display-4{
    color: rgb(2, 90, 78);
}

.experience p{
    color: #EFE1D1;
}
.aboutme{
    font-size: 30px;
    text-align: start;
}

.timeline-grid{
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: auto auto auto auto; 
    align-items: center;
    padding: 3rem;
}

.btech{
    grid-column: 16/22; 
    grid-row-start: 2;
}

.webd{
    grid-column: 16/22;
    grid-row-start: 1;
}

.high-school{
    grid-row-start:3;
    grid-column: 8/16;
}

.secondary-school{
    grid-row-start: 4;
    grid-column: 1/8;
}
.experience{
    background-color: rgb(2, 90, 78);
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
    border-bottom-left-radius: 64px;
    padding: 10px;
    color: #EFE1D1;
}

.experience-duration{
    display: flex;
    align-items: center;
    justify-content: end;
}


/* projects */
.project-container{
    border-radius: 64px;
    padding: 3rem;
    background-color: #73c2b2;
}

.project-container:hover{
    background-color: #95D2B3;
}

.project-grid-container{
    display: grid;
    grid-template-columns: repeat(26,1fr);
    grid-template-rows: auto auto;
    row-gap: 8vh;
    column-gap: 1rem;
}

.project-image{
    position: static;
}

.project-heading>p{
    
}

.project1{
 grid-row-start: 1;
 grid-column: 1 / 16;
}

.project2{
    grid-row-start: 1;
    grid-column: 16/27;
}

.project3{
    grid-row-start: 2;
    grid-column: 1/12 ;
}

.project4{
    grid-row-start: 2;
    grid-column:12/27;
}

.project1 a{
    text-decoration: none;
}

.copyrigth{
    font-weight: normal;
}

.contact a.btn{
    border-radius: 64px;
    background-color: rgb(2, 90, 78);
    color: #EFE1D1;
}

.footer a{
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
/* responsiveness */
@media (max-width:1200px){
    .experience{
        grid-column-start: 1;
        grid-column-end: 22;
    }

    .aboutme{
        font-size: 2.5vw;
    }
    
}

@media (max-width:660px){
    h1{
        font-size: 13vw;
    }

    .home h1 span{
        font-size: 7vw;
    }
    .footer .nav-item a{
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn{
        margin-left: 0;
        margin-right: 0;
    }

    .myImage{
        width: 80vw;
        height: auto;
        border-radius: 64px;
        margin-bottom: 50px;
    }

    .aboutme{
        font-size: 20px;
    }

    .timeline-grid{
        margin: .2vw;
        padding-left: .5vw;
        padding-right: .5vw;
    }

    /* projects */
    .project1,.project2,.project3,.project4{
        grid-row-start: auto;
        grid-column-start: 1;
        grid-column-end: 27;
    }

    .project-container{
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .project-grid-container{
        row-gap: 3vh;
        column-gap:0;
    }

    .tab-pane{
        margin-left: 10px;
        margin-right: 10px;
    }

}
